In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import parser

In [2]:
df_raw = pd.read_csv(r'base_de_dados.csv', encoding='latin1', sep=';')
df_raw.head(10)
df = df_raw.copy()

In [3]:
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)
df['Nota'] = df['Nota'].replace({
    'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4,
    'cinco': 5, 'seis': 6, 'sete': 7, 'oito': 8, 'nove': 9, 'dez': 10,
})
df.head(10)

,ID,Nome,Critério,Tipo,Nota,Justificativa,DataAvaliacao
0,3000,pedro.henrique,"ser ""team player""",execução,NaN,"inovador, mas confuso","april 02, 2023"
1,3001,luiza.henrique,atender aos prazos,execução,"7,6",boa execução com erros pontuais,"march 10, 2023"
2,3002,mariana.costa,fazer mais com menos,execução,8,"responsável, porém inseguro","april 18, 2023"
3,3003,,pensar fora da caixa,comportamental,6,"trabalho em equipe precisa melhorar""""""",15/04/2023
4,3004,joana.silva,resiliencia nas adversidades,execução,10,"organizado, mas às vezes desatento",19.04.23
5,3005,ricardo.silva,resiliencia nas adversidades,execução,8,"reativo, falta proatividade",15/apr/23
6,3006,luiza.martins,entregar com qualidade,comportamental,10,"entrega consistente, mas falta comunicação",01.04.23
7,3007,bruno.lima,resiliencia nas adversidades,comportamental,"9,5","criativo, porém pouco claro",31.03.2023
8,3008,joão.lima,capacidade de aprender,comportamental,8,"inovador, mas confuso",10.04.23
9,3009,ricardo.martins,sentimento de dono,comportamental,NaN,"reativo, falta proatividade""""""",15.04.23

In [4]:
df.describe(include='all')

,ID,Nome,Critério,Tipo,Nota,Justificativa,DataAvaliacao
count,1000.000000,1000,1000,1000,753.0,1000,1000
unique,NaN,201,9,2,87.0,20,294
top,NaN,,resiliencia nas adversidades,execução,10.0,"entrega consistente, mas falta comunicação",15/apr/23
freq,NaN,31,133,517,62.0,93,11
mean,3499.500000,NaN,NaN,NaN,NaN,NaN,NaN
std,288.819436,NaN,NaN,NaN,NaN,NaN,NaN
min,3000.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,3249.750000,NaN,NaN,NaN,NaN,NaN,NaN
50%,3499.500000,NaN,NaN,NaN,NaN,NaN,NaN
75%,3749.250000,NaN,NaN,NaN,NaN,NaN,NaN
max,3999.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# padroniza as
def parse_data_avaliacao(data_str):
    try:
        return parser.parse(str(data_str), dayfirst=True)
    except Exception:
        return pd.NaT 
df_raw['DataAvaliacao'] = df_raw['DataAvaliacao'].apply(parse_data_avaliacao)

In [ ]:
# mantem tudo com ponto ao inves de virgula
df_raw['Nota'] = pd.to_numeric(df_raw['Nota'].str.replace(',', '.', regex=False), errors='coerce')